<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
 		<typeAlias type="vo.ArticleVO" alias="avo"/>   <!-- type 위치가 정확히 일치 해야 함. -->
 		<typeAlias type="vo.PaginVO" alias="pvo"/>
</typeAliases>
	<environments default="">
		<environment id="">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/winni" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="map/article.xml"/>  
	</mappers>
</configuration>